 <h1> Number Guessing Game <br> </h1>

   
<div class="back">
<br> <br> <br> <br> <br> <br> <br> <br> <br> 
<p>&nbsp; &nbsp; &nbsp; &nbsp; Choose any Number between 1-100</p>
<div class="input">
<input type="number" #user> &nbsp;
<button (click)="check(user.value)">Choose</button> <br> <br>
<br> <br> <div id="mess"> &nbsp; &nbsp; &nbsp; {{message}} <br> <br> </div>
</div> <br> <br> <br> <br>
<div id="lin"> 
    <a href="http://linkedin.com/in/praveen-d-154761185"><img src="assets/link.png" style="width:42px;height:42px;"></a> &nbsp;  
    <a href="https://github.com/praveenvirat18"><img src="assets/git1.png" style="width:42px;height:42px;"></a>  &nbsp;
    <a href="http://praveenvirat1817@gmail.com"><img src="assets/mail.png" style="width:42px;height:42px;"></a> &nbsp;
 
</div>

</div>
 
 

<footer> Copyrights @ Praveen <br> <br> </footer>


 
